@import url("./reset.css");

*,
*::after,
*::before {
  font-family: 'Ubuntu', sans-serif !important;
}

body {
  background-color: rgb(0, 0, 0);
  color: white;
}

.text-white {
  color: #fff;
}

.text-indigo {
  color: var(--primary-02-action, #8B499C);
}

.text-indigo-dark {
  color: var(--primary-00, #382449);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 5px 40px;
  align-items: center;
  background: rgba(56, 36, 73, 0.95);
  backdrop-filter: blur(5px);
}

.header>.logo {
  display: flex;
  align-items: center;
  padding: 0.41px 0px 1.229px 0px;
  gap: 7.938px;
  width: 100%;
}

@media (min-width: 768px) {
  .header>.logo {
    width: auto;
  }
}

.mobile-banner {
  margin-top: auto;
  margin-bottom: 156px;
  margin-inline: 20px;
}

.header>.logo>svg:nth-child(1) {
  width: 45.374px;
  height: 30.361px;
}

.header>.logo>svg:nth-child(2) {
  width: 128.843px;
  height: 22.038px;
}

/* menu */
.menu {
  display: flex;
  /* width: 707px; */
  justify-content: space-between;
  align-items: center;
}

.menu__button--default {
  display: flex;
  padding: 14px 20px;
  justify-content: center;
  align-items: center;

  color: var(--white, #fff);
  text-align: center;

  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.2px;
}

.menu__button--login {
  display: flex;
  padding: 13px 20px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: var(--secondary-03, #fad277);
  border-radius: 30px;
}

.menu__button--login span {
  color: var(--primary-00, #382449);
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

/* danisma hatti */
.danisma-hatti-container {
  padding: 50px 156px;
  display: flex;
  justify-content: space-between;
  background: var(--primary-01, #533165);
}

.danisma-hatti-kutu-1 {
  display: flex;
  gap: 23px;
  flex-direction: column;
}

.danisma-hatti-kutu-1>.danisma-hatti-yazilar {
  display: flex;
  flex-direction: column;
}

.danisma-hatti-kutu-1>.danisma-hatti-yazilar .text {
  font-family: Ubuntu;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
}

.danisma-hatti-kutu-1>.danisma-hatti-yazilar .text-white {
  color: var(--white, #fff);
}

.danisma-hatti-kutu-1>.danisma-hatti-yazilar .text-yellow {
  color: var(--secondary-01-action, #f2af29);
}

.danisma-hatti-kutu-1>.danisma-hatti-resimler {
  display: flex;
  flex-direction: column;
}

.danisma-hatti-kutu-1>.danisma-hatti-resimler svg {
  margin-left: -14px;
}

.danisma-hatti-kutu-1>.danisma-hatti-resimler>.phone {
  margin-top: -48px;
}

.danisma-hatti-kutu-2>.danisma-hatti-yazilar .text {
  font-family: Ubuntu;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
}

.danisma-hatti-kutu-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.danisma-hatti-kutu-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.danisma-hatti-kutu-2>.danisma-hatti-resimler {
  display: flex;
}

.danisma-hatti-kutu-3>.danisma-hatti-yazilar .text {
  font-family: Ubuntu;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
}

.danisma-hatti-kutu-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.danisma-hatti-kutu-3>.danisma-hatti-resimler {
  display: flex;
  justify-content: center;
}

.danisma-hatti-kutu-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.danisma-hatti-kutu-4>.danisma-hatti-resimler {
  display: flex;
  justify-content: center;
}

.danisma-hatti-kutu-4>.danisma-hatti-yazilar .text {
  font-family: Ubuntu;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
}

body {
  background-image: url(./images/banner.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-color: lightgray;
  background-size: cover;
}

.banner {
  height: 807px;
}

.banner>.banner-frame {
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 50px 50px 50px 0px;
  background: rgba(83, 49, 101, 0.8);
  width: 385px;
  height: 260px;
  margin-top: 460px;
  margin-left: 39px;
  position: relative;
}

.banner-frame>.banner-frame-text {
  font-family: Ubuntu;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  /* 120% */
  display: flex;
  flex-direction: column;
}

.banner-frame>.banner-frame-text .text-white {
  color: var(--white, #fff);
}

.banner-frame>.banner-frame-text .text-yellow {
  color: var(--secondary-01-action, #f2af29);
}

.banner-frame>img {
  position: absolute;
  right: -36.781px;
  top: -25px;
}

.hizmetler-container {
  height: 950px;
  flex-shrink: 0;
  display: flex;
  gap: 21px;

}

.hizmetler-wrapper {
  padding: 224px 160px !important;
  background: var(--primary-04, #fcf8fd);
}

@media (min-width: 768px) {
  .hizmetler-wrapper {
    padding: 224px 160px !important;
  }
}

.hizmetler-wrapper>.text {
  align-self: stretch;
  color: var(--secondary-01-action, #f2af29);

  /* Web/P Class Medium/Bold */
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
  text-transform: capitalize;
}

.hizmet {
  display: flex;
  width: 284px;
  height: 408px !important;
  padding: 15px 15px 25px 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--white, #fff);

  /* SelectionDrop00 */
  box-shadow: 0px 3px 15px 0px rgba(139, 73, 156, 0.06);
}

.hizmet>.hizmet-resim {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 10px;
  overflow: hidden;
  height: 239px;
  object-fit: cover;
}


.hizmet>.hizmet-resim img {
  flex: 1 0 0;
  align-self: stretch;
  width: 100%;
  border-radius: 10px;
}

.hizmet>.hizmet-yazı .text-1 {
  color: var(--primary-01, #533165);

  /* Web/H3/Medium */
  font-family: Ubuntu;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  /* 140% */
  letter-spacing: 0.2px;
  width: 214px;
  display: inline-block;
}

.hizmet>.hizmet-yazı .text-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* İkinci satıra kadar göster */
  -webkit-box-orient: vertical;

  overflow: hidden;
  color: var(--text-1, #5f5a67);
  text-overflow: ellipsis;
  whitespace: nowrap;

  /* Web/P Class Medium/Regular */
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
}

.hizmetler-wrapper>.text {
  margin-bottom: 16px;
  color: var(--secondary-01-action, #F2AF29);
  /* Web/P Class Medium/Bold */
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
  text-transform: capitalize;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  align-items: stretch;
}

.swiper-slide {
  /* font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.swiper-pagination {
  position: static !important;
  text-align: left !important;
}

.statics {
  min-height: 231px;
  color: #382449;
  background-image: url('./images/ee61acaf310964001d30aecf26c79adb.jpg');
  background: linear-gradient(0deg, rgba(254, 251, 255, 0.80) 0%, rgba(254, 251, 255, 0.80) 100%), url('./images/ee61acaf310964001d30aecf26c79adb.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.statics>div>span:nth-child(1) {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
}

.statics>div>span:nth-child(3) {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  /* 140% */
  letter-spacing: 0.4px;
}

.tum-hizmetler .description p {
  letter-spacing: 0.32px;
}



.tum-hizmetler img {
  object-fit: none;
}

/* sass/scss nested
.tum-hizmetler {
  .description {
    p {

    }
  }
}
*/
.kisiselsaglik {
  background: var(--secondary-04, #FFFAEF);

  @media (min-width: 768px) {
    background: var(--primary-04, #FCF8FD);
  }
}

.footer {
  background-color: #382449;

  & ul {
    list-style: unset;
  }

  & a {
    color: inherit !important;
    opacity: .7;
  }
}

a {
  text-decoration: none !important;
}

.nav-footer-item {
  padding: 12px;
  flex-flow: column;
}


.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

/*Slider Card*/
/* Temel stil ayarları */
.slider-container {
  position: relative;
  width: 270px;
  overflow: hidden;
  margin: 0 auto;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 270px;
  margin-right: 10px;
}

video {
  width: 100%;
  height: 100%;
  display: block;
}

/* Sağ ve sol ok butonlarının stil ayarları */
#prev-btn,
#next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
  color: white;
  font-size: 24px;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
}

#prev-btn {
  left: 0;
}

#next-btn {
  right: 0;
}

.slider-wrap {
  background: var(--Primary01, #533165);
}

.slider .slide {
  border-radius: 16px;
  overflow: hidden;
  margin-block: 48px;
}

.terapi-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.terapi-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.terapi-card {
  width: calc(25% - 10px);
  /* 4 kartı yan yana sığdırmak için */
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.terapi-description p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 768px) {
  .terapi-card {
    width: calc(50% - 10px);
    /* Ekran daraldığında 2 kartı yan yana sığdırmak için */
  }
}

.card-body:hover .light-purple-btn {
  background: #F2AF29;
  color: white;
}

.card-body .btn {
  height: 20px;
  white-space: nowrap;
  padding: 13px 20px;
  color: #fff;
  background: var(--Primary04, #FCF8FD);
  border-radius: 30px;
  transition: all 300ms ease-in-out;

  color: var(--Primary02-action, #8B499C);
  text-align: center;

  /* Web/P Class Small/Bold */
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  /* 142.857% */
}


.terapi-detay-urun-bg {
  background-image: url('./terapilerimiz/img/terapi-detay-urun-bg.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.terapi-detay-nav {
  border-radius: 5px;
  background: rgba(139, 73, 156, 0.20);
  color: #FCF8FD;
}

.terapi-detay-nav .nav-link:focus {
  color: #FAD277 !important;
}

.terapi-detay-bubble {
  border-radius: 15px;
  border: 2px solid #8B499C;
  padding: 15px;
  font-size: 18px;
  background: rgba(139, 73, 156, 0.20);
}

.purple-bg {
  background-color: #533165;
}

#formcheckWrapper {
  .form-check {
    display: flex;
    padding: 10px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    white-space: nowrap;
    border-radius: 5px;
    background: rgba(139, 73, 156, 0.20);
    cursor: pointer;

    color: var(--Primary04, #FCF8FD);
    text-align: center;

    /* Web/P Class Small/Bold */
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    /* 142.857% */

    &:has(input:checked) {
      color: var(--Secondary03, #FAD277);
      border: 1px solid var(--Secondary03, #FAD277);

    }

    & label {
      cursor: pointer;
    }
  }

  .form-check-input {
    display: none;
  }
}